In [10]:
L = [11, 12, 13, 14]
print(L)
# i
L.append(50)
L.append(60)
print(L)
# ii
L.remove(11)
L.remove(13)
print(L)
# iii
L.sort()
print(L)
# iv
L.sort(reverse=True)
print(L)
# v
found = 13 in L
print(found)
# vi
count = len(L)
print("count=",count)
# vii
total_sum = sum(L)
print("total sum =",total_sum)
# viii
odd_sum = sum(x for x in L if x % 2 != 0)
print("odd sum=",odd_sum)
# ix
even_sum = sum(x for x in L if x % 2 == 0)
print("even sum=",even_sum)
# x
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(x for x in L if is_prime(x))
print(prime_sum)
# xi
L.clear()
print(L)
# xii
del L

[11, 12, 13, 14]
[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]
[12, 14, 50, 60]
[60, 50, 14, 12]
False
count= 4
total sum = 136
odd sum= 0
even sum= 136
0
[]

In [2]:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for num in numbers:
    total_sum += num
print(total_sum)

15

In [3]:
numbers = [1, 2, 3, 4]
product = 1
for num in numbers:
    product *= num
print(product)

24

In [4]:
array = [[['*' for _ in range(6)] for _ in range(4)] for _ in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [19]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

# (i) 
D[8] = 8.8

# (ii) 
D.pop(2)

# (iii)
key_exists = 6 in D

# (iv)  
count = len(D)

# (v) 
total_sum = sum(D.values())

# (vi) 
D[3] = 7.1

# (vii)
D.clear()

In [12]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print(S1)
print(S2)
# (i) 
S1.update([55, 66])
print(S1)
# (ii) 
S1.discard(10)
S1.discard(30)
print(S1)
print(S2)
# (iii) 
is_present = 40 in S1
print(is_present)
# (iv) 
union_set = S1.union(S2)
print(union_set)
# (v) 
intersection_set = S1.intersection(S2)
print(intersection_set)
# (vi) 
difference_set = S1.difference(S2)
print(difference_set)

{50, 20, 40, 10, 60, 30}
{80, 50, 70, 40, 90, 60}
{50, 66, 20, 55, 40, 10, 60, 30}
{50, 66, 20, 55, 40, 60}
{80, 50, 70, 40, 90, 60}
True
{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

In [13]:
import random
import string

# (i) Print 100 random strings whose length is between 6 and 8
for _ in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices(string.ascii_letters, k=length))
    print(random_string)

# (ii) Print all prime numbers between 600 and 800
for num in range(600, 801):
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        print(num)

# (iii) Print all numbers between 100 and 1000 that are divisible by 7 and 9
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

woXTudR
UzPyeN
uhoDBzAz
orPczxil
SNGDQxog
pynFEn
PncdhMFX
FYDrLCr
GqfqAX
NtpFmpG
nXmKkE
bljeETLQ
wzfIoda
QYvTGnU
mxerExH
qNlAAlW
bKlVWFcD
dLmJstTl
tWzfBdy
vgyZmP
fLUajEUO
JUuAFDJH
bPVkGjz
jUDOoHLy
SBLopYKe
aAjjRv
oDOendN
cjWKIiMs
JHxkhOz
Stywajj
PkDBlefv
EDJJJZK
YIswXboU
SffVgeMx
GckuaL
cOWiPD
LUXYHR
hCQlpS
xjpnIunQ
BkfgEm
VmIOUTv
TVlsGgX
GlvLZBa
uhEnkVWx
nwIbIpv
hnrlJw
iFVUtI
ebijoDh
eJbsime
QDxzmi
FrIKxAAX
QTSVQZg
SRDyBt
rBXPAS
yQzTPpE
bbPuVALg
mebQpFb
OLSZJpgN
aGdIbW
Nmoovf
auFYnVA
NlHDtjmn
jzSuUmO
LMwsPH
fblymc
cIasXl
lMPQMNRM
XjnlitCw
tvZILqa
XQudTXlz
gjwMWx
fQzSfwSA
IbDuCJN
SkRcsfq
HUBdJfYx
nCsoyt
bqgibosV
bkMpuzJa
IacNfG
pPThLLt
Meileh
fZydtmS
odaIcfUw
LIZAdRp
unaChCRf
hYZhfws
ZMTWiqI
kUUyAbV
ygWKbg
hxxtEhUW
HeWHPG
kwbUGQ
DzLqeEvY
bQYAgy
SiNxHs
SBqGVk
mbQatVNw
DjXown
HeIeVw
EpjUVbS
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [8]:
exam_st_date = (11, 12, 2014)
print(f"The examination will start from: {exam_st_date[0]}/{exam_st_date[1]}/{exam_st_date[2]}")

The examination will start from: 11/12/2014

In [15]:
numbers = [15, 24, 54, 76, 50, 90]
for num in numbers:
    if num % 5 == 0:
        print(num)

15
50
90

In [16]:
num = int(input("Enter a number: "))
is_even = num % 2 == 0
print(f"{num} is {'even' if is_even else 'odd'}.")

Enter a number:  8

8 is even.

In [17]:
string = "Emma is good at cooking Emma is a chef."
count = string.count("Emma")
print("Emma appears", count, "times.")

Emma appears 2 times.

In [19]:
list1 = [1, 21, 13, 46, 57, 63, 72]
list2 = [18, 10, 22, 32, 14, 15, 16]

new_list = [x for x in list1 if x % 2 != 0] + [y for y in list2 if y % 2 == 0]
print("New list:", new_list)

New list: [1, 21, 13, 57, 63, 18, 10, 22, 32, 14, 16]