In [ ]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [1]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print(last_name + " " + first_name)

Enter your first name:  angad
Enter your last name:  bir

bir angad

In [2]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)
print("The area of the circle is:", area)

Enter the radius of the circle:  6

The area of the circle is: 113.09733552923255

In [3]:
color_list = ["Red", "Green", "White", "Black"]
print("First color is:", color_list[0])
print("Last color is:", color_list[-1])

First color is: Red
Last color is: Black

In [ ]:
n = int(input("Enter the integer: "))
result = n + int(str(n)*2) + int(str(n)*3)
print(result)

Enter an integer: 5
615

In [4]:
numbers = input("Enter comma-separated numbers: ")
num_list = numbers.split(",")
num_tuple = tuple(num_list)
print("List:", num_list)
print("Tuple:", num_tuple)

Enter comma-separated numbers:  3,5,7,23

List: ['3', '5', '7', '23']
Tuple: ('3', '5', '7', '23')

In [6]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit is:", fahrenheit)

Enter temperature in Celsius:  25

Temperature in Fahrenheit is: 77.0

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# Swap
a, b = b, a

# Incrementing  a
a += 1

print("After swapping and incrementing:")
print("First number:", a)
print("Second number:", b)

Enter first number:  7
Enter second number:  9

After swapping and incrementing:
First number: 10
Second number: 7

In [8]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter a number:  9

9 is odd.

In [9]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year:  2025

2025 is not a leap year.

In [10]:
import math

x1, y1 = map(float, input("Enter first coordinate (x1, y1): ").split())
x2, y2 = map(float, input("Enter second coordinate (x2, y2): ").split())

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("The Euclidean distance is:", distance)

Enter first coordinate (x1, y1):  7 8
Enter second coordinate (x2, y2):  8 9

The Euclidean distance is: 1.4142135623730951

In [11]:
angle1 = float(input("Enter first angle: "))
angle2 = float(input("Enter second angle: "))
angle3 = float(input("Enter third angle: "))

if angle1 + angle2 + angle3 == 180:
    print("The angles can form a triangle.")
else:
    print("The angles cannot form a triangle.")

Enter first angle:  90
Enter second angle:  80
Enter third angle:  15

The angles cannot form a triangle.

In [12]:
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time in years: "))
compound_interest = principal * (1 + rate / 100) ** time - principal
print("Compound Interest is:", compound_interest)

Enter the principal amount:  25000
Enter the rate of interest:  5
Enter the time in years:  7

Compound Interest is: 10177.510566406265

In [13]:
num = int(input("Enter a positive integer: "))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a positive integer:  8

8 is not a prime number.

In [14]:
N = int(input("Enter a positive integer: "))
sum_of_squares = sum(i ** 2 for i in range(1, N + 1))
print("Sum of squares is:", sum_of_squares)

Enter a positive integer:  7

Sum of squares is: 140